* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .teacher-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .teacher-panel {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .top-right {
    text-align: right;
    padding: 2rem 5rem 0 78%;
    font-size: 1.35rem;
    color: #555;
  }
  .teacher-greeting {
    font-size: 2.8rem;
    font-weight: 700;
    color: #2b3444;
    margin-bottom: 5rem;
    text-align: center;
    width: fit-content;
    margin: 2rem auto 3.5rem;
  
    padding: 1rem 2rem;
    background: linear-gradient(to right, #cecece06, #60606013);
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    text-shadow: 0 1px 2px rgba(0,0,0,0.1);
    animation: glowPulse 4s ease-in-out infinite;    transition: transform 0.3s ease, background 0.4s ease;
  }
  
  
  @keyframes subtlePulse {
    30% { opacity: 1; }
    50% { opacity: 0.80; }
    80% { opacity: 0.75; }
  }
  .greeting2 {
    font-size: 2.4rem;
    text-align: center;
    margin: 2rem auto 3.5rem;
    color: #2b3444;
    font-weight: 700;
    width: fit-content;
    text-shadow: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
    padding: 0;
    animation: none;
  }
  
  
  
  @keyframes glowPulse {
    0%, 100% {
      box-shadow: 0 0 10px rgba(224, 206, 119, 0.2);
    }
    50% {
      box-shadow: 0 0 18px rgba(8, 26, 71, 0.5);
    }
  }
  
  /* === PRZYCISKI === */
  .teacher-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
    width: 100%;
    max-width: 1000px;
    justify-items: center;
  }
  
  .btn-30 {
    background-color: #2b3444;
    color: white;
    padding: 3rem 4rem;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    width: 100%;
    max-width: 430px;
    min-height: 170px;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  }
  
  .btn-30:hover {
    background-color: #e0ce77;
    color: #2b3444;
    transform: translateY(-5px);
  }
  
  /* === STOPKA === */
  .footer {
    background-color: #f6f6f6;
    padding: 1.5rem 2rem;
    font-size: 0.9rem;
    color: #7a7a7a;
    border-top: 1px solid #ddd;
  }
  
  
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .footer-links {
    display: flex;
    list-style: none;
    gap: 0.8rem;
    margin: 0;
    padding: 0;
  }
  
  .footer-links a {
    text-decoration: none;
    color: #7a7a7a;
    transition: color 0.2s ease;
  }
  
  .footer-links a:hover {
    color: #ffffff;
  }

  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  

  