<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />

  <!-- Tytuł dynamiczny -->
  <title>{% block title %}TestPiotral{% endblock %}</title>

  <!-- Ikona -->
  <link rel="icon" href="{{ url_for('static', filename='img/monke.png') }}" type="image/png" />

  <!-- Główne style -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- Dodatkowe style z podstron -->
  {% block head %}{% endblock %}
</head>
<body class="{{ page_class | default('') }}">

  <!-- Pasek nawigacyjny -->
  {% include "components/navbar.html" %}

  <!-- Treść dynamiczna -->
  {% block body %}{% endblock %}

  <!-- Globalny skrypt do obsługi dropdowna -->
  <script src="{{ url_for('static', filename='js/teacher_navbar.js') }}" defer></script>
</body>

</html>
