{% extends "base.html" %}

{% set page_class = "teacher-page" %}
{% include "components/navbar.html" %}

{% block head %}
  <title>Panel nauczyciela</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% endblock %}

{% block body %}

<div class="teacher-wrapper">
  
  <section class="teacher-panel">
    <div class="top-right">Zalogowany jako: {{ name }} ({{ role }})</div>

    <h1 class="teacher-greeting">Witaj, {{ name }}!</h1>
    <p class="greeting2">To jest twoja strona użytkownika.</p>

    <div class="teacher-grid">
      <a href="{{ url_for('teacher_tests') }}" class="btn-30">Testy</a>
      <a href="{{ url_for('grades') }}" class="btn-30">Oceny uczniów</a>
      <a href="{{ url_for('student') }}" class="btn-30">Lista uczniów</a>
      <a href="{{ url_for('groups_teacher') }}" class="btn-30">Moje grupy</a>
    </div>
  </section>

  <footer class="footer">
    <div class="footer-container">
      <p>© Testpiotral 2025</p>
      <ul class="footer-links">
        <li>•</li>
        <li><a href="#">Polityka prywatności</a></li>
      </ul>
    </div>
  </footer>
</div>

{% endblock %}
