{% extends "base.html" %}
{% block head %}
    <title>Panel nauczyciela</title>
    <!-- na razie dalym w tym htmlu sekcje style, bo nie chce mieszać w plikach css, chcialem poprostu zebyscie widzieli moja wizje jak to mogloby wygladac, mozecie to pozniej usunac -->
    <!-- i podpiac pod jakis plik css -->
    <style>
        .top-right {
            position: absolute;
            top: 20px;
            right: 30px;
            font-weight: bold;
        }

        .button-grid {
            display: grid;
            grid-template-columns: repeat(3, 150px);
            grid-template-rows: repeat(2, 150px);
            gap: 20px;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        .grid-button {
            background-color: #4CAF50;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .grid-button:hover {
            background-color: #45a049;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="top-right">
        Zalogowany jako: {{ name }} ({{ role }})
    </div>

    <h1 style="text-align: center;">Witaj, {{ name }}!</h1>
    <p style="text-align: center;">To jest twoja strona użytkownika.</p>

    <div class="button-grid">
        <a href="{{ url_for('teacher_tests') }}" class="grid-button" style="display:flex;justify-content:center;align-items:center;text-decoration:none;">Testy</a>
        <button class="grid-button">Oceny Uczniów</button>
        <button class="grid-button">Uczniowie</button>
        <a href="{{ url_for('groups_teacher') }}" class="grid-button" style="display:flex;justify-content:center;align-items:center;text-decoration:none;">Moje grupy</a>
        <button class="grid-button">Przycisk 5</button>
        <button class="grid-button">Przycisk 6</button>
    </div>
{% endblock %}